<form (ngSubmit)="onSubmit(addInvoiceForm)" #addInvoiceForm="ngForm">

    <!-- <fieldset>
        <input #date="ngModel" [(ngModel)]="newInvoice.date" placeholder="dd/mm/yyyy" onfocus="this.placeholder=''" type="date" name="date" id="date" required>
        <legend>Date</legend>
    </fieldset> -->

    <fieldset>
        <label>
            <input type="radio" name="type" value="invoice" (change)="selectedType = 'invoice'">
            <span>Invoice</span>
        </label>
        <label>
            <input type="radio" name="type" value="receipt" (change)="selectedType = 'receipt'">
            <span>Receipt</span>
        </label>
        <legend>Type</legend>
    </fieldset>

    <fieldset>
        <select [formControl]="patientControl" required>
            <option [ngValue]="null" disabled>
                Select Patient
            </option>
            @for (patient of patients; track patient) {
                <option [ngValue]="patient">
                    {{ patient }}
                </option>
            }
        </select>
        <legend>Patient</legend>
    </fieldset>

    <input type="submit" value="Add Invoice">

</form>