@use './../../shared/colors.scss' as colors;


.board {
    display: grid;
    grid-template-columns: repeat(auto-fill, 132px);
    grid-auto-rows: 132px;
    gap: 3px;
    box-sizing: border-box;
    padding: 0 12px 12px 12px;
    justify-content: center;
    hyphens: auto;
    >div {
        @include colors.border-eggshell;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        font-size: 16px;
        @include colors.bg-yellow;
        >div:first-child {
            font-size: 36px;
            font-weight: 600;
        }
        &:nth-child(3n+1) {
            @include colors.bg-purple;
        }
        &:last-child {
            @include colors.bg-red;
        }
    }
    
}




// #imgContainer {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, 180px);    
//     grid-auto-rows: 150px;    
//     grid-gap: 5px;
//     box-sizing: border-box;
//     padding: 0 30px 30px 30px;
//     justify-content: center;
// }

// .imgBox img {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//     cursor: pointer;
// }

// .imgBox img:hover {
//     border-radius: 10px;
//     opacity: 0.8;
// }

// #mainTextContent {
//     max-width: 800px;
//     display: block;
//     text-align: center;
//     margin-left: auto;
//     margin-right: auto;
//     border: 1px solid rgba(47, 79, 79);
//     border-radius: 5px;
//     padding: 20px;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     word-break: break-word;
// }