@use './../../shared/colors.scss' as colors;


.board {
    display: grid;
    grid-template-columns: repeat(auto-fill, 132px);
    grid-auto-rows: 132px;
    gap: 3px;
    box-sizing: border-box;
    padding: 0 12px 12px 12px;
    justify-content: center;
    hyphens: auto;
    >div {
        @include colors.border-eggshell;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        font-size: 16px;
        @include colors.bg-yellow;
        >div:first-child {
            font-size: 36px;
            font-weight: 600;
        }
        &:nth-child(3n+1) {
            @include colors.bg-purple;
        }
        &:last-child {
            @include colors.bg-red;
        }
    }    
}