<div class="main-container">

    <h2>Health Insurances</h2>

    <div class="board">
        <div>
            <div>123</div>
            <div>Invoices Received</div>            
        </div>
        <div>
            <div>12</div>
            <div>Submitted to Public Health Insurance</div>
        </div>
        <div>
            <div>12</div>
            <div>Refunded by Public Health Insurance</div>
        </div>
        <div>
            <div>12</div>
            <div>Submitted to Supplementary Health Insurance</div>
        </div>
        <div>
            <div>12</div>
            <div>Refunded by Supplementary Health Insurance</div>
        </div>
    </div>

</div>