<div class="main-container">

    <h2>Progress Board</h2>


    <div class="board">
        <div class="sum-badge">
            <div>{{ invoicesCount$ | async }}</div>
            <div>Total<br><br>Sum</div>
        </div>
        <div class="tile shadow bg-red" [routerLink]="['/invoices']" [queryParams]="{ status: 'received' }">
            <div>{{ invoicesReceivedCount$ | async }}</div>
            <div>Invoices Received</div>            
        </div>
        <div class="tile shadow bg-purple" [routerLink]="['/invoices']" [queryParams]="{ status: 'submitted to ÖGK' }">
            <div>{{ invoicesSubmPublCount$ | async }}</div>
            <div>Submitted to <span title="Public Health Insurance">ÖGK</span></div>
        </div>
        <div class="tile shadow bg-purple">
            <div>{{ invoicesRefPublCount$ | async }}</div>
            <div>Refunded by <span title="Public Health Insurance">ÖGK</span></div>
        </div>
        <div class="tile shadow">
            <div>{{ invoicesSubmSupplCount$ | async }}</div>
            <div>Submitted to <span title="Supplementary Health Insurance">muki</span></div>
        </div>
        <div class="tile shadow">
            <div>{{ invoicesRequSupplCount$ | async }}</div>
            <div>Requests<br>by <span title="Supplementary Health Insurance">muki</span></div>
        </div>
        <div class="tile shadow bg-green">
            <div>{{ invoicesRefSupplCount$ | async }}</div>
            <div>Refunded by <span title="Supplementary Health Insurance">muki</span></div>
        </div>
        
    </div>

    <!-- @if (invoices$ | async; as invoices) {
        @for (invoice of invoices$ | async; track invoice.id; let index = $index) {
            <div>{{ invoice.id }}</div>
        }
    } -->

    <button class="shadow" (click)="showAddInvoiceForm()"><b>+</b> Add Invoice</button>

    @if (invoicesService.newInvoiceFormOpened) {
        <div class="addInvoiceFormBg">
            <div class="addInvoiceFormContainer">
                <div class="addInvoiceFormHead">
                    <h2>Add Invoice</h2>
                    <img (click)="hideAddInvoiceForm()" class="btn-close" src="assets/img/icon_close.png">
                </div>                
                <app-add-invoice-form></app-add-invoice-form>
            </div>            
        </div>
    }

</div>