@use './../../shared/colors.scss' as colors;

.board {
    display: grid;
    grid-template-columns: repeat(auto-fill, 132px);
    grid-auto-rows: 116px;
    gap: 3px;
    box-sizing: border-box;
    padding: 0 12px 12px 12px;
    justify-content: center;
    hyphens: auto;
    position: relative;
}

.sum-badge {
    @include colors.bg-grey;
    border-radius: 50%;
    height: 72px;
    width: 72px;
    position: absolute;
    top: -18px;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    >div:first-child {
        @include colors.font-red;
        font-size: 36px;
        font-weight: 800;
        z-index: 1;
        position: absolute;
        top: 18px;
        left: 18px;
    }
    >div:last-child {
        transform: rotate(15deg);
        z-index: 2;
    }
}

.tile {
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    font-size: 16px;
    @include colors.bg-yellow;
    &:hover {
        @include colors.bg-grey;
    }
    >div:first-child {
        font-size: 36px;
        font-weight: 600;
    }
}

.bg-red {
    @include colors.bg-red;
}

.bg-purple {
    @include colors.bg-purple;
}

.bg-green {
    @include colors.bg-green;
}

.addInvoiceFormBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @include colors.bg-grey-transparent;
    display: flex;
    justify-content: center;
    // z-index: 3;
}

.addInvoiceFormContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 86px;
    
}

.addInvoiceFormHead {
    position: absolute;
    top: 42px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include colors.bg-shadow-grey;
}

.btn-close {
    padding-right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    &:hover {
        opacity: 0.4;
        // transform: rotate(360deg);
        // transform: skewY(-20deg);
        transform: scale(1.3);
    }
}