@use './../../shared/colors.scss' as colors;

.board {
    display: grid;
    grid-template-columns: repeat(auto-fill, 132px);
    grid-auto-rows: 116px;
    gap: 3px;
    box-sizing: border-box;
    padding: 0 12px 12px 12px;
    justify-content: center;
    hyphens: auto;
    >div {
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        font-size: 16px;
        @include colors.bg-yellow;
        >div:first-child {
            font-size: 36px;
            font-weight: 600;
        }
        &:nth-child(3n+1) {
            @include colors.bg-purple;
        }
        &:last-child {
            @include colors.bg-red;
        }
        &:hover {
            @include colors.bg-grey;
        }
    }    
}

.addInvoiceFormBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @include colors.bg-grey-transparent;
    display: flex;
    justify-content: center;
}

.addInvoiceFormContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 86px;
    
}

.addInvoiceFormHead {
    position: absolute;
    top: 42px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include colors.bg-shadow-grey;
}

.btn-close {
    padding-right: 16px;
}