@use "sass:map";

$colors: (
    "red": #bb4c3e,
    "yellow": #ebbc3d,
    "green": #678d68,
    "grey": #5a6370,
    "purple": #4f284b,
    "eggshell": #ffffcc
);

@mixin bg-grey {
    $bg-color: map.get($colors, "grey");
    background-color: $bg-color;
}

@mixin bg-green {
    $bg-color: map.get($colors, "green");
    background-color: $bg-color;
}

@mixin font-eggshell {
    $color: map.get($colors, "eggshell");
    color: $color;
}

@mixin font-grey {
    $color: map.get($colors, "grey");
    color: $color;
}

@mixin border-eggshell {
    $color: map.get($colors, "eggshell");
    border: 2px solid $color;
}