@use "sass:map";

$colors: (
    "red": rgba(187, 76, 62),
    "yellow": rgba(235, 188, 61),
    "green": rgba(103, 141, 104),
    "grey": rgba(90, 99, 112),
    "grey-transparent": rgba(90, 99, 112, 0.8),
    "purple": rgba(79, 40, 75),
    "eggshell": rgba(255, 255, 204)
);

@mixin bg-grey {
    $bg-color: map.get($colors, "grey");
    background-color: $bg-color;
}

@mixin bg-grey-transparent {
    $bg-color: map.get($colors, "grey-transparent");
    background-color: $bg-color;
}

@mixin bg-green {
    $bg-color: map.get($colors, "green");
    background-color: $bg-color;
}

@mixin bg-yellow {
    $bg-color: map.get($colors, "yellow");
    background-color: $bg-color;
}

@mixin bg-purple {
    $bg-color: map.get($colors, "purple");
    background-color: $bg-color;
}

@mixin bg-red {
    $bg-color: map.get($colors, "red");
    background-color: $bg-color;
}

@mixin font-eggshell {
    $color: map.get($colors, "eggshell");
    color: $color;
}

@mixin font-grey {
    $color: map.get($colors, "grey");
    color: $color;
}

@mixin border-eggshell {
    $color: map.get($colors, "eggshell");
    border: 2px solid $color;
}