@use './../../../shared/colors.scss' as colors;

form {
    padding: 24px;
    @include colors.bg-green;
    @include colors.border-eggshell;
    border-radius: 10px;
    width: 240px;
    position: relative;
}


.btn-close {
    position: absolute;
    right: 16px;
    top: 16px;
}