@use './../../colors.scss' as colors;

nav {
    width: 100dvw;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    @include colors.bg-purple;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    @include colors.bg-purple;
    justify-content: center;
    align-items: center;
    >li {
        flex: 1;
        display: inline-block;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
}

.nav-link {
    padding: 5px;    
    font-size: 14px;
    >img {
        height: 45px;
    }
}

.nav-link-small {
    font-size: 12px !important;
}