<div class="shape-rounded"></div>

    <nav>
        <ul class="main-nav">
            <li class="shadow" routerLink="board">
                <img src="assets/img/icon_board.png">
                <div>Add<br>Invoice</div>
            </li>
            <li class="shadow" routerLink="health-insurances">
                <img src="assets/img/icon_health_insurances.png">
                <div>Insurances Board</div>
            </li>
            <li class="shadow" routerLink="running-costs">
                <img src="assets/img/icon_running_costs.png">
                <div>Take<br>Notes</div>
            </li>
        </ul>
        <ul class="sub-nav">
            <li>Privacy Policy</li>
            <li>Legal Notice</li>
        </ul>
    </nav>