@use './../../colors.scss' as colors;

.shape-rounded {
    width: 100dvw;
    height: 186px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    @include colors.bg-green;
    mask: radial-gradient(60% 70px at bottom, #0000 98%, #000);
    clip-path: ellipse(80% 100% at bottom);
    transform: translateY(5%);
}

nav {
    width: 100dvw;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6px;
    >li {
            cursor: pointer;
        };
}

.main-nav {
    gap: 6px;
    >li {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-top: 16px;
        height: 86px;
        width: 98px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        display: inline-block;
        >div {
            margin-top: 5px;
        }
        &:hover {
            @include colors.bg-grey;
        }
        &:first-child {
            border-top-left-radius: 50%;
        }
        &:last-child {
            border-top-right-radius: 50%;
        }
    }
}

img {
    height: 32px;
}

.sub-nav {
    gap: 8px;
    >li {
        padding: 5px 15px 0 15px;
        height: 28px;
    }
    >li:first-child:hover {
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        @include colors.font-eggshell;
        @include colors.bg-green;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    >li:last-child:hover {
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        @include colors.font-eggshell;
        @include colors.bg-green;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}