<nav>
    <ul class="main-nav">
        <li routerLink="board">
            <img src="assets/img/icon_board.png">
            <div>Board</div>
        </li>
        <li>
            <img src="assets/img/icon_health_insurances.png">
            <div>Health Insurances</div>
        </li>
        <li>
            <img src="assets/img/icon_running_costs.png">
            <div>Running Costs</div>
        </li>
    </ul>
    <ul class="sub-nav">
        <li>Privacy Policy</li>
        <li>Legal Notice</li>
    </ul>
</nav>