<nav>
    <ul>
        <li class="nav-link" routerLink="board">
            <img src="assets/img/icon_board.png">
            <div>Board</div>
        </li>
        <li class="nav-link">
            <img src="assets/img/icon_health_insurances.png">
            <div>Health Insurances</div>
        </li>
        <li class="nav-link">
            <img src="assets/img/icon_running_costs.png">
            <div>Running Costs</div>
        </li>
    </ul>
    <ul>
        <li class="nav-link-small">Privacy Policy</li>
        <li class="nav-link-small">Legal Notice</li>
    </ul>
</nav>