@use './../../colors.scss' as colors;

nav {
    width: 100dvw;
    // height: 148px;
    height: calc(148px + 16px + 75px);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    @include colors.bg-green;
}

ul {
    @include colors.bg-green;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6px;
    >li {
            cursor: pointer;
        };
}

.main-nav {
    gap: 6px;
    >li {
        // flex: 1;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-top: 16px;
        height: 86px;
        width: 98px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        display: inline-block;
        >div {
            margin-top: 5px;
        }
        &:hover {
            @include colors.bg-grey;
        }
        &:first-child {
            border-top-left-radius: 50%;
        }
        &:last-child {
            border-top-right-radius: 50%;
        }
    }
}

img {
    height: 32px;
}

.sub-nav {
    gap: 8px;
    @include colors.bg-grey;
    padding-bottom: 75px;
    mask: radial-gradient(60% 70px at bottom, #0000 98%, #000);
    clip-path: ellipse(80% 100% at bottom);
    >li {
        padding: 5px 10px 0 10px;
    }
    >li:first-child:hover {
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: -4px 4px 8px 4px rgba(103, 141, 104, 0.5);
    }
    >li:last-child:hover {
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        box-shadow: 4px 4px 8px 4px rgba(103, 141, 104, 0.5);
    }
}

.shape-rounded {
    padding-top: 16px;
    clip-path: ellipse(80% 100% at bottom);
}