@use './../../../shared/colors.scss' as colors;

.addInvoiceFormContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 148px;
    @include colors.bg-grey-transparent;
    display: flex;
    justify-content: center;
    align-items: start;
}

