@use './app/shared/colors.scss' as colors;

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url('./../public/assets/fonts/Roboto-VariableFont_wdth_wght.ttf');
}

@font-face {
    font-family: 'Fascinate';
    src: url('./../public/assets/fonts/Fascinate-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    @include colors.bg-grey;
    @include colors.font-eggshell;
}

.main-container {
    height: calc(100dvh - 148px);
    padding-top: 24px;
    text-align: center;
}

h1, h2 {
    font-family: 'Fascinate', sans-serif;
    margin: 0;
    padding: 10px;
}

h2 {
    padding-bottom: 32px;
}

fieldset {
    @include colors.border-eggshell;
    border-radius: 6px;
    margin: 10px;
}

select {
    appearance: none;
    width: 100%;
    @include colors.bg-green;
    @include colors.border-eggshell;
    border-radius: 6px;
    font-size: 16px;
    @include colors.font-eggshell;
    cursor: pointer;
    padding: 4px 8px;
}

.select-customized {
    min-width: 350px;
    position: relative;
}

.select-customized::before,
.select-customized::after {
    --size: 6px;
    position: absolute;
    content: "";
    right: 8px;
    pointer-events: none;
}

.select-customized::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255, 255, 204);
    top: 35%;
}

.select-customized::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255, 255, 204);
    top: 60%;
}

button {
    cursor: pointer;
    @include colors.bg-red;
    @include colors.font-eggshell;
    @include colors.border-eggshell;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 16px;
    &:hover {
        @include colors.font-red;
        @include colors.border-red;
        @include colors.bg-eggshell;
    }
}

.btn-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}