@use './../../../shared/colors.scss' as colors;

.newInvoiceFormContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 148px;
    @include colors.bg-grey-transparent;
    display: flex;
    justify-content: center;
    align-items: start;
}

form {
    padding: 24px;
    margin: 18px;
    @include colors.bg-green;
    @include colors.border-eggshell;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
}

.btn-close {
    position: absolute;
    right: 24px;
    top: 24px;
}